@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,900;1,300&display=swap');

body {
    background-color: #FDE3EF;
    font-family: 'Rubik', sans-serif;
    padding : 5px;
    border-radius: 12px;
    min-width: 250px;
}


.titre , input, button{
    margin : 8px 0px;
}

.titre {
    color:#3B002C;
    font-weight: 500;
    font-size: 25px;
}

#trigger p{
    color: #3B002C;
    line-height: 20px;
    font-weight: 400;
    font-size: 15px;
}

#comment_block p {
    font-size: 12px;
    font-style: italic;
    color : #3B002C;
}

input{
    font-family: 'Rubik', sans-serif;
    padding : 8px 2px;
    margin-top: 0px;
}

input:focus{
    outline: none;
}

#save, #ma_liste{
    font-family: 'Rubik', sans-serif;
    background-color: #3B002C;
    color: #FDE3EF;
    cursor: pointer;
    border-radius: 4px;
    border : none;
    padding : 10px
}

#save{
    margin-left: 5px;
}

#ma_liste >a{
    text-decoration: none;
    color : #3B002C;
}

#ma_liste{
    background-color: #FDE3EF;
    border : solid 1px #3B002C;
    color:#3B002C
}

